.image-wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  }

  
  // .modal-img {
  //   width: 1112px;
  //   height: 640px;
  // }
  
.image {
    width: 100%;
    margin: 0 auto;
 }