.modal-window {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border: none;
      background: transparent;
      max-width: fit-content;
      max-height: 600px;
      overflow: hidden;
  }



  .modal-image {
     display: block;
     max-width: fit-content;
     max-height: 550px;
     overflow: hidden;
  }

  .modal-text {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: nowrap; 
    text-align: center;
    color: #333;
    font-weight: 400;
  }
  
  .modal-element {
        span {
          font-weight: 700;
        }
  }